<?xml version="1.0" encoding="UTF-8"?><Context>
    <Resource accessToUnderlyingConnectionAllowed="true" cloudDatabaseKey="db-fye" driverClassName="com.microsoft.sqlserver.jdbc.SQLServerDriver" logAbandoned="true" name="jdbc/main" password="pd0953f43d56244779fced38928764" profile="DEV" removeAbandoned="false" removeAbandonedTimeout="60" schema="" type="javax.sql.DataSource" url="jdbc:sqlserver://db-fye.cfdacj6pdovg.us-east-1.rds.amazonaws.com:1433;databaseName=db_fye" username="root"/>
    <Profile value="DEV"/>
    <Profile value="PROD"/>
</Context>
